body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 204, 195);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Weights: 200, 400, 600 */

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 64px;
  background-color: #ccc;
  margin: 82px 165px;
  max-width: 1110px;
  min-width: 350px;
}

/* HEADER */

.container .header {
  background-color: rgb(253, 192, 253);
  display: flex;
  justify-content: center;
}

.container .header .text {
  background-color: tomato;
  max-width: 550px;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.14rem;
}

.container .header .text h1 {
  margin: 12px 0 0 0;
  font-weight: 200;
}

.container .header .text h1 .title {
  font-weight: 600;
}

.container .header .text p {
  margin-top: 15px;
  font-size: 15px;
}

/* SECTION 2 */

.container .section-second {
  background: rgb(255, 162, 162);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container .section-second .items {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 350px;
  padding: 1.8rem;
  padding-left: 32px;
  background-color: #ffffff;
  border-radius: .3rem;
  box-shadow: 0 0 20px rgb(105, 105, 105);
}
.container .section-second .items .image {
  position: absolute;
  right: 29px;
  bottom: 25px;
}

.container .section-second .items h1 {
  font-size: 1.25rem;
}
.container .section-second .items p {
  margin-top: .4rem;
  font-size: 0.83rem;
}
.container .section-second .section-middle {
  background-color: rgb(185, 222, 219);
  display: flex;
  flex-flow: column;
  gap: 30px;
}
.container .section-second .item1{
    border-top: 4px solid var(--primary-cyan);
}
.container .section-second .item2{
    border-top:4px solid var(--primary-red);
}
.container .section-second .item3{
    border-top: 4px solid var(--primary-orange);
}
.container .section-second .item4{
    border-top: 4px solid var(--primary-blue);
}

@media (max-width:1390px){
    .container {
        height: 150vh;
        margin:0;
        max-width: 300px;
        gap: 0px;
    }
    .container .header {
        margin-top: 103px;
    }
    .container .header h1{
        font-size: 1.5rem;
    }
    .container .header .text p {
        font-size: 1rem;
    }
    .container .section-second {
        margin-top: -60px;
        flex-direction: column;
        gap: 25px;
    }

    .container .section-second .items{
        padding: 1.4rem;
        padding-left: 1.7rem;
        width: 310px;
        height: 220px;
    }
    .container .section-second .items .image img{
        /* background-color: yellow; */
        width: 3.5rem;
    }
    .container .section-second .items h1{
        font-size: 1.2rem;
        
    }
}

